name: SAST
on:
  workflow_dispatch:
  workflow_call:
  pull_request:

jobs:
  semgrep_actions:
    permissions: write-all F
    name: Semgrep
    runs-on: ubuntu-latest
    container:
      image: returntocorp/semgrep
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run semgrep analysis (non-blocking mode)
        run: semgrep scan --sarif --sarif-output=semgrep.sarif 

      - name: Upload SARIF file to GitHub
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: semgrep.sarif
        if: always() 
